<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">

    <!--imu sensor-->
    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.03 0.02 0.01"/>
            </geometry>
            <material name="imu_color">
                <color rgba="0.3 0.2 0.4"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.03 0.02 0.01"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.01" x="0.03" y="0.02" z="0.01">
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
       </xacro:inertial_box>
    </link>

    <joint name="chassis to imu" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <origin xyz="0.077 0.0 0.02" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
    

</robot>