<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">
    

    <link name="lidar_scanner">
        <visual>
            <geometry>
                <cylinder radius="0.05" length="0.02"/>
            </geometry>
            <material name="lidar_color">
                <color rgba="0.3 0.1 0.1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.02"/>
            </geometry>
        </collision>
        <xacro:inertial_cylinder mass="0.2" length="0.02" radius="0.05">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <joint name="chassis to lidar" type="fixed">
        <parent link="chassis"/>
        <child link="lidar_scanner"/>
        <origin xyz="0.12 0.0 0.12" rpy="0.0 0.0 0.0"/>
        
    </joint>

    <gazebo reference="lidar_scanner">
        <material>Gazebo/lidar_colcor</material>
        <sensor name="laser" type="ray" >
            <pose>0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>20</update_rate>
            <ray> 
                <scan>
                    <horizontal>
                        <samples>60</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so"><!--interact with gazebo -->
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
        
    </gazebo>
</robot>